.main {
    padding: 3rem 2rem;
    padding-bottom: 0.8rem;
    color: #e2e8f0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.profileContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.skillHeader {
    background-color: #0f172a;
    color: #fff;
    padding: 0.2rem 0.6rem;
    font-size: 0.6rem;
    font-weight: 400;
    border-radius: 0.2rem;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    margin-bottom: 0.8rem;
}


.greeting {
    color: #94a3b8;
    font-size: 1.25rem;
    font-weight: 400;
    margin: 0 0 0.5rem 0;
    margin: 0;
}

.name {
    font-size: 3.5rem;
    font-weight: 600;
    color: #38bdf8;
    margin: 0 0 1.2rem 0;
}

.description {
    color: #94a3b8;
    font-size: 1rem;
    max-width: 600px;
    line-height: 1.7;
    margin-bottom: 2rem;
}

.buttonContainer {
    display: flex;
    gap: 2.4rem;
}

.viewResume {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    background-color: #38bdf8;
    color: #fff;
    font-weight: 600;
    padding: 0.6rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 1.2rem;

    &:hover {
        background-color: #0ea5e9;
    }
}

.LinkdIn {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    background-color: #fff;
    color: #38bdf8;
    font-weight: 600;
    padding: 0.6rem 1.5rem;
    font-size: 1rem;
    border: 1px solid #0ea5e9;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 1.2rem;

    &:hover {
        background-color: #fff;
    }
}

.profileImage {

}